<mat-sidenav-container>
  <mat-sidenav position="end" #sidenav >
    <app-menu (currentPage)="navigate($event)" [currPage]="page" (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="bg-light text-dark">
    <mat-toolbar color="primary">
      <div>Museum Ticket Shop</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="nav-items">
          <li><a routerLink="/exhibitions">Exhibitions</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/tickets">Tickets</a></li>
          <li><a routerLink="/profile">Profile</a></li>
        </ul>
      </div>
      <div fxHide.gt-xs fxFlex fxLayout fxLayoutAlign="flex-end">
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
