<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Register new account</h5>
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" placeholder="" formControlName="name" />
              <label for="name">Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="username" placeholder="" formControlName="email" />
              <label for="username">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" placeholder="" formControlName="password" />
              <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="rePassword" placeholder="" formControlName="rePassword" />
              <label for="rePassword">Password again</label>
            </div>
            <div class="d-grid mb-3">
              <button class="btn text-light btn-login text-uppercase fw-bold" type="submit">Register</button>
            </div>
            <div class="d-grid">
              <button class="btn text-light btn-login text-uppercase fw-bold" [routerLink]="'/login'">Log in
                instead</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
